.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.contact-img {
  height: 200px;
  width: 200px;
}

.contact-heading {
  color: #6d396b;
}
